@import 'styles/constants';

.user-window {
  &__header {
    margin: 0;
  }

  &__close-btn {
    margin-top: 32px;
  }

  &__apply-login {
    margin-left: 16px;
  }

  &__msg {
    margin: 16px;
    color: $main-success-msg-color;

    &--error {
      color: $main-fail-msg-color;
    }
  }
}