@import 'styles/constants';

.button {
  background-color: $button-light-blue-color;
  font-weight: 600;;
  
  outline: none;
  border-radius: 8px;
  padding: 8px;
  border: none;

  overflow: hidden;
  text-overflow: ellipsis;

  overflow-x: hidden;

  cursor: pointer;

  &--small {
    width: 100px;
  }
}