.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  background-color: rgba(160, 180, 233, 0.397);
  color: black;
  
  outline: none;
  border-radius: 8px;
  padding: 8px;
  border: none;

  cursor: pointer;
}

.list-header {
  font-weight: bold;
}

.input {
  border: none;
  padding: 8px;
}

.input:focus {
  border: none;
  outline: none;
}

.popup-window {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(160, 180, 233), rgba(186, 194, 175));
  background: linear-gradient(0deg, rgba(160, 180, 233, 0.397), rgba(186, 194, 175, 0.404))
}

.popup-window--hidden {
  visibility: hidden;
}

.popup-window__content {
  background-color: lightgray;
  padding: 16px;
  box-shadow: 8px 8px 16px black;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-name {
  cursor: pointer;
}

.error-msg {
  visibility: hidden;
  color: red;
}