.main {
  flex-grow: 1;
  width: 100%;
  max-height: calc(100% - 54px);
  padding-bottom: 8px;
}

.chat {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.inbox {
  height: 100%;
  overflow-y: scroll;
  padding: 8px;

  align-items: flex-start;
}

.inbox .message {
  margin: 4px 0;
}

.inbox, .msg-area {
  width: 100%;
  margin: 8px 0;
}

.msg-input {
  width: 100%;
}

.msg-input .button {
  flex: 1;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(160, 180, 233, 0.397);
}

.msg-input__textarea {
  width: 100%;
  margin-right: 8px;
  resize: none;

  border: 1px solid black;
  border-radius: 8px;
}

.room-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 32px;
  padding: 8px;

  background-color: lightblue;
}