.room-list {
  height: 100%;
  margin: 0 16px;

  width: max-content;
  max-width: 200px;
}

.room-list__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  overflow-x: hidden;
}

.room-list__header {
  min-width: max-content;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}

.room-entry {
  min-width: max-content;
  margin: 4px 0;
  border-bottom: 1px solid black;

  cursor: pointer;
}