@import './base.css';

@import './loginForm.css';
@import './header.css';
@import './main.css';
@import './userList.css';
@import './roomList.css';

@import './message.css';

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  
  text-align: center;

  background: linear-gradient(0deg, rgba(160, 180, 233, 0.397), rgba(186, 194, 175, 0.404));
}

* {
  font-size: 14px;
  font-family: sans-serif;
  
  box-sizing: border-box;
}

.app {
  margin: 5%;
  height: 100%;
  border-radius: 8px;

  background-color: white;
  overflow: hidden;
}