.user-list {
  height: 100%;
  margin: 0 16px;

  width: fit-content;

  max-width: 10%;
  overflow-x: hidden;
}

.user-list__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 100%;
  overflow-x: hidden;;
}

.user-list__header {
  margin-bottom: 16px;

  border-bottom: 1px solid black;
}

.user-entry {
  min-width: max-content;
  margin: 4px 0;
  
  border-bottom: 1px solid black;
}