.header {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 8px;
  width: 100%;

  background-color: rgba(185, 202, 248, 0.397);
  margin-bottom: 16px;
}