@import 'styles/constants';
@import 'styles/mixins';

.header {
  @include flex-layout(row, space-between, center);

  box-sizing: border-box;
  padding: 8px 0;
  width: 100%;
  height: 56px;
  margin-bottom: 8px;

  aside {
    @include flex-layout(row, center, center);
    width: $aside-max-width;
  }

  .user-panel {
    width: 100%;
  }
}

.leave-window {
  .button {
    margin: 0 32px;
  }

  text-align: center;

  &__controls {
    @include flex-layout(row, center, center);
    margin-top: 32px;
  }
}

@media screen and (max-width: $mobile-screen-width) {
  .header {
    padding: 8px $mobile-horz-padding;

    aside {
      width: fit-content;
    }
  }
}