@import 'styles/mixins';
@import 'styles/constants';

.create-room-window {
  &__buttons {
    @include flex-layout(row, space-between, center);
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }

  &__err {
    margin: 8px 0;
    color: $main-fail-msg-color;
    height: 32px;
    vertical-align: middle;
    line-height: 32px;
  }

  &__create-btn {
    margin-right: 16px;
  }
}