@import 'styles/mixins';
@import 'styles/constants';
@import 'styles/base';

.user-list {
  @extend .list;

  .button {
    margin-bottom: 16px;
  }

  &__list {
    width: 100%;
  }

  &__entry {
    @extend .list-entry;
    // width: 100%;
    // background-color: lightblue;

    // margin: 4px 0;

    // text-align: center;
    // cursor: pointer;

    // overflow-x: hidden;
    // padding: 4px 0;
  }
}

@media screen and (min-width: $mobile-screen-width) {
  .user-list {
    max-width: $aside-max-width;
  }
}