@import 'styles/mixins';

.invite-to-dm-window {
  &__content {
    @include flex-layout(column, center, center);
  }
}

.request-refused-window {
  &__ok-btn {
    margin-top: 32px;
  }
}

.incoming-invite-window {
  &__buttons {
    margin-top: 32px;
  }

  .button {
    margin: 0 16px;
  }
}

.invite-request-fail {
  .button {
    margin-top: 32px;
  }
}