@import 'styles/mixins';
@import 'styles/constants';

input {
  padding: 6px;
  color: $main-dark-blue-color;
}

.list {
  @include flex-layout(column, flex-start, center);

  width: 100%;
  height: 100%;
}

.list-entry {
  margin: 4px 0;

  height: 48px;
  width: 200px;

  text-align: center;
  cursor: pointer;

  border-radius: 8px;

  overflow-x: hidden;
  padding: 4px 0;

  background-color: $main-dark-blue-color;
}

.list-header {
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  text-align: left;
}