$mobile-screen-width: 800px;
$aside-max-width: 256px;

$main-dark-blue-color: #1d2437;
$main-dark-color: #222a3f;

$main-dim-text-color: #43495c;
$main-placeholder-color: #757a89;
$main-text-color: #e8eaf0;

$main-dark-pink-color: #f04883;
$main-light-pink-color: #f25389;