$mobile-screen-width: 800px;
$mobile-horz-padding: 4px;

$aside-max-width: 200px;

$main-dark-blue-color: #1d2437;
$main-dark-color: #222a3f;
$main-dark-green-color: #0b4628;

$main-dim-text-color: #43495c;
$main-placeholder-color: #757a89;
$main-text-color: #e8eaf0;

$main-dark-pink-color: #f04883;
$main-light-pink-color: #f25389;

$main-success-msg-color: lightgreen;
$main-fail-msg-color: red;