@import 'styles/mixins';

.signup-window {
  @include flex-layout(column, flex-start, center);
  
  &__warning {
    white-space: pre-line;
    text-align: center;
    color: lightgreen;
  }

  &__error {
    color: red;
  }

  input {
    margin-bottom: 32px;
  }

  &__lang-selector {
    margin-top: 16px;
  }
}