@import 'styles/mixins';
@import 'styles/constants';

.window {
  @include flex-layout(column, center, center);

  position: fixed;
  top: 0;
  padding: 4px;

  height: 100%;
  width: 100%;

  &__content {
    @include flex-layout(column, flex-start, center);
    padding: 16px;
    border-radius: 8px;
  }
}