.message {
  display: flex;
  flex-direction: column;
  
  // background-color: lightgray;
  border: 1px solid darkgray;

  border-radius: 16px 0px 16px 0;
  padding: 8px;

  text-align: left;

  &__author {
    font-weight: bold;
    font-size: 16px;
    align-self: flex-start;
  
    margin-bottom: 4px;
  }

  &__text {
    white-space: pre-line;    
  }
}