@import 'styles/constants';

.message {
  display: flex;
  flex-direction: column;

  background-color: $main-dark-blue-color;

  border-radius: 16px 16px 16px 0;
  padding: 12px 24px;

  text-align: left;

  &__author {
    font-size: 18px;
    align-self: flex-start;
  
    margin-bottom: 8px;
  }

  &__text {
    white-space: pre-line;

    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    
    text-align: left;
    color: #bcc0c9;
  }

  &--own {
    background-color: $main-light-pink-color;
    border-radius: 16px 16px 0 16px;

    .message__text {
      color: white;
    }
  }
}