@import 'styles/constants';

.app {
  box-sizing: border-box;
  border-radius: 4px;

  width: 100%;
  margin: 1%;

  // background-color: var(--main-white-rgb);
}

@media screen and (max-width: $mobile-screen-width) {
  .app {
    border-radius: 0;
    margin: 0%;
  }
}